<style>
nav{ text-align: center};
</style>
<nav>
    <ul>
        <li>
            <a href="/    H O M E                           ________________________P A G E ">home</a>
        </li>
        <li>
            <a href="/contact?page=90&iu=youandi">conti</a>
        </li>
    </ul>
</nav>
