<html>

<head>
    <link href="assets/style.css" rel="stylesheet" type="text/css" />

</head>

<body>
    <% include partials/navi.ejs %>
    <h1>CONTACT
        Lorem,aliquam.</h1>
    <p>kuhoo ji
    </p>
<form id="kforms" method ="POST" action="/contact">
give name
    <input type="text" name="name">
give age bitch
<input type="text" name="ageofb">
select bitch
<input type="radio" name="gender" value="male" > Male<br>
  <input type="radio" name="gender" value="female"> Female<br>
  <input type="radio" name="gender" value="other"> Other
<br>
  <input type="submit" value="summmmmii" / >
</form>
</body>

</html>
