<html>
    <head>
        <link href="assets/style.css" rel="stylesheet" type="text/css" />

    </head>
    <body>
        <% include partials/navi.ejs %>
<h1>heliuuuuu<%= nameji%>
     Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias sapiente iusto quae ullam et itaque praesentium, provident eum quasi unde neque aspernatur suscipit doloribus eveniet commodi delectus. Accusantium, dolorum aliquam.</h1>        <p>kuhoo ji</p>
    </body>

</html>
